<div class="container">
  <div class="row">
    <h3>Follower Users</h3>
    <div class="col-8">
      <% if @users.exists? %>
        <%= render "public/users/index", users: @users %>
      <% else %>
        <p>ユーザーはいません。</p>
      <% end %>
    </div>
  </div>
</div>
