<div class="col-12 mt-3">
  <table class="table table-borderless table-sm">
    <tr class="text-center">
      <th class="table-primary">Tag</th>
    </tr>
    <% tags.each do |tag| %>
      <tr class="text-center">
        <td>
          <%= link_to tag_path(tag.id), class: "text-dark" do %>
            <i class="fa-solid fa-tag"></i><%= tag.name %>(<%= tag.posts.count %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>