<table class="table table-borderless">
  <tr class="text-center">
    <th>Tag</th>
  </tr>
  <% tags.each do |tag| %>
    <tr class="text-center">
      <td>
        <%= link_to tag_path(tag.id) do %>
          <i class="fa-solid fa-tag"></i><%= tag.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
