@use '~bootstrap/scss/bootstrap';

header{
  background-color: #125699;
}

footer{
  background-color: #125699;
}


.card-body{
  width: 100%;
  height: 100%;
}

.rounded-circle{
  width: 100%;
  height: 100%;
  object-fit: cover;
}