<div class="container">
  <div class="row">
    <h3>会員一覧</h3>
    
    <div class="col-8">
      <table class="table table-hover">
        <thread>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thread>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.full_name, admin_user_path(user) %></td>
               <td><%= user.email %></td>
              <td>
                <% if user.is_active %>
                  <span class="text-success">有効</span>
                <% else %>
                  <span class="text-secondary">退会</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>

