<div class="col-10">
  <table class="table mx-auto">
    <thead>
      <tr>
        <th></th>
        <th>ハンドルネーム</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %></td>
          <td class="align-middle"><%= user.nickname %></td>
          <% if user_signed_in? %>
            <td class="align-middle"><%= render 'public/relationships/btn', user: user, options: {class: "follow-link"} %></td>
          <% end %>
          <td class="align-middle"><%= link_to "投稿ページへ", user_path(user), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
